*.DS_Store
*.Rhistory
*.html
env/
*_files/
images/
bftools/
scripts/image_conversion/
*/.ipynb_checkpoints/
scripts/individual/image_*
*.snakemake/
*Snakefile.log
*logs/
scripts/individual/segmentation*/
